<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- endbuild -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false">
    </script>
</head>

<body {{ page.bodyAttrs }}>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#">{{ site.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Vegas Outdoors</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bicycle&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/bicycle/commute/">Commute</a>
                            </li>
                            <li><a href="/bicycle/road/">Road</a>
                            </li>
                            <li><a href="/bicycle/mountain/">Mountain</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rock&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/rock/hike/">Hike</a>
                            </li>
                            <li><a href="/rock/climb/">Climb</a>
                            </li>
                            <li><a href="/rock/canyoneer/">Canyoneer</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Water&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/water/kayak/">Kayak</a>
                            </li>
                            <li><a href="/water/sail/">Sail</a>
                            </li>
                            <li><a href="/water/dive/">Dive</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/contribute/">Contribute</a>
                    </li>
                    <li><a href="/about/">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{ content }}

    <!-- FOOTER -->
    <div class="clearfix"></div>
    <div class="container">
      <hr class="featurette-divider">
      <footer>
          <p class="pull-right"><a href="#">Back to top</a>
          </p>
          <p>&copy; 2013 {{ site.name }} <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> -->
          </p>
      </footer>
    </div>

    <!-- build:js(app) /js/vendor/main.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <script src="/_bower_components/jquery/jquery.js"></script>
    <!-- endbuild -->
    <script data-main="/js/main" src="/_bower_components/requirejs/require.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.moot.it/1/moot.css">
    <script src="http://cdn.moot.it/1/moot.min.js"></script>
</body>

</html>
