---
layout: default
title: Bicycle Commute
bodyAttrs: data-spy="scroll" data-target="#sidebar" data-offset="0"
---

<div class="container" style="padding-top:20px;">
    {% include navbar.html %}
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron tronic">
              <div class="row">
                <h1>Commute</h1>
                <p>Whether you're in search of the best routes across town or the nearest bike shop, we'll point you in the right direction! If you're new to bicycle commuting, we've included a few tips to get your started.</p>
              </div>
            </div>
            <div class="row" id="talk">
                <h2 class="featurette-heading">Talk</h2>
                <p class="lead">Bicycle commuting in Las Vegas is an ever changing topic. Join our discussion of the latest news about getting around on two wheels.</p>
                <div class="row">
                    <!-- <h4 class="page-header">Updates</h4> -->
                    {% for post in site.categories.commute limit:3 %}
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">{{ post.title }}</h3>
                            <p class="meta text-muted date"><small>{{ post.date | date: "%B %d, %Y" }}</small></p>
                          </div>
                          <div class="panel-body">
                            <p>{{ post.tease }}</p>
                            <span class="pull-right"><a href="{{ post.url }}">Read more &#187;</a></span>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row" id="start">
                <h2 class="featurette-heading">Start</h2>
                <p class="lead">You've finally decided to give bicycle commuting a go! Here are a handful of tips to get you out there and keep you safe.</p>
                <ul>
                    <li><em>Get your bike into good repair:</em> Oil that chain with some quality chain lube. You'd be surprised at the difference this makes!</li>
                    <li><em>Plan your route:</em> Use our routes below or scan Google Maps Bicycle layer to find a safe route. Fancy a weekend test ride to work out the kinks?</li>
                    <li><em>Dress appropriately:</em> No, not spandex &ndash; that's rarely appropriate! This is an obvious tip, dress cool for the summer, warm for the winter. Chilly air is surprisingly good and penetrating nearly every type of clothing, so take gloves in the winter. Maybe throw in an extra undershirt in the summer, just in case.</li>
                    <li><em>Be seen:</em> Want another reason to curse the DST transition in November? You'll be riding home in the dark. Get yourself some blinkies &ndash; front and rear! &ndash; and maybe a reflective vest.</li>
                    <li><em>Keep your ride safe:</em> Unfortunately, people love stealing bikes. If you'll be leaving your bike outside, get a hefty bike lock. The big U Locks are commonly known as your safest bet.</li>
                </ul>
            </div>
            <hr class="featurette-divider">
            <div class="row" id="routes">
                <h2 class="featurette-heading">Routes</h2>
                <p class="lead">Bicycle commuting in Las Vegas is rarely straight forward. With no established bicycle routes through the city, daily commutes become a guessing game of where bike trails and lanes connect. Establishing a map of preferred routes will concentrate bicycle traffic on fewer streets to increase safety and allow more civil resources to be used on these travel corridors.</p>
            </div>

            <div class="container">
                <div class="row" id="pointtopoint">
                    <h3 class="page-header">Point to Point</h3>
                    <p class="lead"><small>Google Maps will show you a mostly accurate picture of the city's bike lanes, but its route finder does not always select the best routes. The routes listed here are all tested and we tell you what to expect on your commute.</small></p>
                    {% include map.html id='ptp' data=site.data.bike-commute-routes.point-to-point %}
                </div>
                <div class="row" id="corridors">
                    <h3 class="page-header">Corridors</h3>
                    <p class="lead"><small>Proven travel corridors for longer distance commuting. These routes may prefer staying on a road with a bike lane over a designated trail as some trails tend to be very slow.</small></p>
                    <p class="lead"><em>Coming Soon</em></p>
                </div>
                <div class="row" id="areas">
                    <h3 class="page-header">Areas</h3>
                    <p class="lead"><small>Thorough descriptions of difficult-to-travel areas. These include entrance and exit routes, bike rack locations and other useful information.</small></p>
                    <p class="lead"><em>Coming Soon</em></p>
                </div>
                <div class="row" id="problem-areas">
                    <h3 class="page-header">Problem Areas</h3>
                    <p class="lead"><small>Bicycle commuting in Las Vegas is not without issues. Freeways are difficult to cross. Bike trails end abruptly without any obvious route to continue. Here, we've outlined some of the pain points and given you reasonable alternatives.</small></p>
                    {% include map.html id='pa' data=site.data.bike-commute-problems.problem-areas %}
                </div>
            </div>

            <div class="clearfix"></div>
            <hr class="featurette-divider">
            {% include bike-shops.html %}
            <div class="clearfix"></div>
            <!-- <hr class="featurette-divider">
            <div class="row" id="tips">
                <h2 class="featurette-heading">Tips</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="clearfix"></div> -->
            <hr class="featurette-divider">
            <div class="row" id="resources">
                <h2 class="featurette-heading">Resources</h2>
                <p class="lead">There exists many resources on cycling in and around Las Vegas already. As <em>{{ site.name }}</em> is not attempting to cover every detail of the community, we're leaving that up to our friends out there!</p>
                <div class="list-group">
                  <a href="http://bikinglasvegas.com/" class="list-group-item">
                    <h4 class="list-group-item-heading">Biking Las Vegas</h4>
                    <p class="list-group-item-text">Offers everything from a great community to dive into to classifieds, a forum and a local cycling group.</p>
                  </a>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/span-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" data-spy="affix" data-offset-top="0">
        <ul class="list-group nav" role="navigation">
            <li class="list-group-item active"><a href="#talk"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Talk</a></li>
            <li class="list-group-item"><a href="#start"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Start</a></li>
            <li class="list-group-item"><a href="#routes"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Routes</a>
            <ul class="list-group nav nested" style="height:113px;">
                <li class="list-group-item"><a href="#pointtopoint">Point to Point</a></li>
                <li class="list-group-item"><a href="#corridors">Corridors</a></li>
                <li class="list-group-item"><a href="#areas">Areas</a></li>
                <li class="list-group-item"><a href="#problem-areas">Problem Areas</a></li>
            </ul>
            </li>
            <li class="list-group-item"><a href="#shops"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Shops</a></li>
            <!-- <li class="list-group-item"><a href="#tips"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Tips</a></li> -->
            <li class="list-group-item"><a href="#resources"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Resources</a></li>
        </ul>
        <div class="alert alert-info">
          <p>Got tips, ideas, suggestions? Get in touch on the <a href="/contribute/" class="alert-link">contribute</a> page!</p>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
</div>
<!--/.container-->
