@import 'sass-bootstrap/lib/bootstrap';

/* GLOBAL STYLES
-------------------------------------------------- */

html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  color: #5a5a5a;
  // padding-top: 40px;
}

.page-header {
  font-weight: 400;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}

.navbar {
  min-height: 40px;
  font-size: 21px;
  font-weight: 200;
  .glyphicon {
    line-height: 12px;
  }
  .dropdown-menu {
    opacity: .95;
  }
  .dropdown-menu > li > a {
    color: #428bca !important;
  }
  .dropdown-menu > li > a:hover {
    color: white !important;
  }
  .navbar-toggle {
    border: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .icon-bar {
      background-color: #aaa;
    }
  }
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-icon {
  height: 26px;
  margin-top: -9px;
  margin-bottom: -6px;
  margin-right: 3px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
  border-top: 1px solid #D35F5A;
  opacity: .4;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

// .featurette-heading:after {
//   content: '.';
//   font-weight: 400;
//   color: #D35F5A;
//   margin-left: 1px;
// }

.featurette-image {
  max-height: 180px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    // margin-top: 120px;
  }
}


#dumbo {
  background-image: url('/img/slide4.jpg');
  background-size: cover;
  box-shadow: 0 0 15px -3px black;
  padding: 30px;
  .intro {
    color: #fff;
    // text-shadow: 0 0 60px #000;
    text-shadow: 0 0 2px black;
  }
  h1 {
    font-size: 70px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.tronic {
  border: 1px solid #f0f0f0;
  border-left: 2px solid #D35F5A;
  padding: 20px inherit;
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  h1 {
    font-weight: 400;
    letter-spacing: -2px;
  }
}

#talk h4 {
  margin-bottom: 0;
}

#sidebar.affix {
  top: 81px;
  right: 54px;
  width: 300px;
}

#sidebar {
  li a {
    display: block;
    padding: 0;
  }
  li:hover {
    background-color: #eeeeee;
  }
  li.active > a {
    color: white;
    text-shadow: 0 -1px 0 #3071a9;
  }
  li.active > a:hover {
    background-color: transparent;
  }
  .list-group.nested {
    margin-top: 8px;
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: height .3s, margin-top .3s;
  }
  .list-group-item:not(.active) .list-group.nested {
    height: 0px !important;
    margin-top: 0px;
  }
  .nested .list-group-item {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 4px 22px;
  }
  .nested .list-group-item:first-child {
    border-top: 1px solid white;
  }
  .nested .list-group-item:last-child {
    border-bottom: 1px solid white;
  }
  .list-group-item.active {
    text-shadow: none;
  }
}

.map-canvas {
  height: 400px;
  border: 1px solid #eee;
}
.table-container {
  h4 {
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .panel {
    max-height: 376px;
    overflow: scroll;
  }
}
.map-table {
  // .panel class is needed for accordion, but we don't want the styles.
  tr.panel {
    margin-bottom: inherit;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    box-shadow: inherit;
  }
  td {
    display: block;
  }
  tr.panel td:first-child {
    cursor: pointer;
  }
  tr.panel td:first-child:before {
    content: '\e114';
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
  }
  tr.panel td:first-child a {
    font-size: 25px;
    line-height: 25px;
    margin-top: -5px;
  }
  tr td.collapsed:first-child:before {
    content: '\e080';
  }
  td:last-child {
    height: 0px;
    padding: 0;
    overflow: hidden;
    border: none;
  }
  td.collapsing:last-child, td.in:last-child {
    border-top: 1px solid #dddddd;
  }
  .collapsing.panel-collapse .container, .in.panel-collapse .container {
    padding: 10px 15px;
    box-shadow: 0 0 10px -5px black inset;

  }
  .panel-collapse .container p {
    margin-bottom: 0px;
    font-size: 0.8em;
  }
}

.moot.is-forum {
  border: 2px solid rgba(0,0,0,.1);
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* POST CSS
-------------------------------------------------- */
.meta {
  margin-bottom: 0;
}

.meta.date {
  margin-bottom: 10px;
}


footer {
  margin: 30px 0;
}