@import 'sass-bootstrap/lib/bootstrap';

/* GLOBAL STYLES
-------------------------------------------------- */

html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  color: #5a5a5a;
  padding-top: 40px;
  padding-bottom: 20px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}

.navbar {
  min-height: 40px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image {
  max-height: 180px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    // margin-top: 120px;
  }
}


#dumbo {
  background-image: url('/img/slide4.jpg');
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 75px #333;
  box-shadow: 0 0 15px -3px black;
}

#bicycle-commute-dumbo {}

#sidebar.affix {
  top: 60px;
  right: 30px;
}

#sidebar {
  a {
    display: block;
    padding: 0;
  }
  li:hover {
    background-color: #eeeeee;
  }
  li.active {
    a {
      color: white;
    }
    a:hover {
      background-color: transparent;
    }
  }
}

#shops {
  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.moot.is-forum {
  border: 2px solid rgba(0,0,0,.1);
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

footer {
  margin: 30px 0;
}